-
  const features = [
    {
      mod: "feature--motel",
      title: "Жильё",
      text: "Рекомендуем пожить в настоящем мотеле, всё как в кино!",
    },
    {
      mod: "feature--souvenirs",
      title: "Сувениры",
      text: "Не только китайского, но и местного производства!",
    },
    {
      mod: "feature--food",
      title: "Еда",
      text: "Всегда заказывайте фирменный бургер, Вы не разочаруетесь!",
    }
  ]
