form.form(action="https://echo.htmlacademy.ru/" method="get")
  include ./field-text.pug
  include ./field-radio.pug
  include ./field-checkbox.pug
  include ./field-textarea.pug
  input.btn(type="submit" value="Отправить отзыв")
  span.form__fields-required &nbsp;
    sup *&nbsp;&nbsp;&ndash;&nbsp;&nbsp;обязательные поля
