-
  const photosData = [
    {
      mod: "photo--first",
      href: "#",
      srcsetBig: "img/photo-sunset-desktop@2x.jpg 2x\, img/photo-sunset-desktop@1x.jpg 1x",
      srcsetMedium: "img/photo-sunset-tablet@2x.jpg 2x\, img/photo-sunset-tablet@1x.jpg 1x",
      srcsetMin: "img/photo-sunset-mobile@2x.jpg 2x",
      src: "img/photo-sunset-mobile@1x.jpg",
      alt: "Неродные просторы",
      title: "Неродные просторы",
      authorName: "Автор фото: Борис",
      likeCount: "1350",
    },
    {
      mod: "",
      href: "#",
      srcsetBig: "img/photo-cactus-desktop@2x.jpg 2x\, img/photo-cactus-desktop@1x.jpg 1x",
      srcsetMedium: "img/photo-cactus-tablet@2x.jpg 2x\, img/photo-cactus-tablet@1x.jpg 1x",
      srcsetMin: "img/photo-cactus-mobile@2x.jpg 2x",
      src: "img/photo-cactus-mobile@1x.jpg",
      alt: "Местная растительность",
      title: "Местная растительность",
      authorName: "Автор фото: Сергей",
      likeCount: "143",
    },
    {
      mod: "",
      href: "#",
      srcsetBig: "img/photo-roads-desktop@2x.jpg 2x\, img/photo-roads-desktop@1x.jpg 1x",
      srcsetMedium: "img/photo-roads-tablet@2x.jpg 2x\, img/photo-roads-tablet@1x.jpg 1x",
      srcsetMin: "img/photo-roads-mobile@2x.jpg 2x",
      src: "img/photo-roads-mobile@1x.jpg",
      alt: "Дорога на север",
      title: "Дорога на север",
      authorName: "Автор фото: Пётр",
      likeCount: "96",
    },
    {
      mod: "",
      href: "#",
      srcsetBig: "img/photo-bridge-desktop@2x.jpg 2x\, img/photo-bridge-desktop@1x.jpg 1x",
      srcsetMedium: "img/photo-bridge-tablet@2x.jpg 2x\, img/photo-bridge-tablet@1x.jpg 1x",
      srcsetMin: "img/photo-bridge-mobile@2x.jpg 2x",
      src: "img/photo-bridge-mobile@1x.jpg",
      alt: "Мост Дьявола",
      title: "Мост Дьявола",
      authorName: "Автор фото: Антон",
      likeCount: "666",
    },
  ]
