-
  const reasonsPrimary = [
    {
      mod: "reason--first",
      title: "Настоящий городок",
      number: "№1",
      text: "Седона не аттракцион для туристов, там течёт своя жизнь",
      srcsetBig: "img/main-city@2x.jpg 2x\, img/main-city@1x.jpg 1x",
      srcsetMedium: "img/main-city-tablet@2x.jpg 2x\, img/main-city-tablet@1x.jpg 1x",
      srcsetSmall: "img/main-city-mobile@2x.jpg 2x",
      src: "img/main-city-mobile@1x.jpg",
      alt: "sedona",
    },
    {
      mod: "reason--second",
      title: "Там есть Мост Дьявола",
      number: "№2",
      text: "Да, по нему можно пройти! Если Вы осмелитесь, конечно",
      srcsetBig: "img/main-bridge@2x.jpg 2x\, img/main-bridge@1x.jpg 1x",
      srcsetMedium: "img/main-bridge-tablet@2x.jpg 2x\, img/main-bridge-tablet@1x.jpg 1x",
      srcsetSmall: "img/main-bridge-mobile@2x.jpg 2x",
      src: "img/main-bridge-mobile@1x.jpg",
      alt: "bridge",
    },
  ]

  const reasonsSecondary = [
    {
      title: "Небольшая площадь",
      number: "№3",
      text: "Все интересные места находятся очень близко",
    },
    {
      title: "Красивая дорога",
      number: "№4",
      text: "Ехать в Седону из Лас-Вегаса совсем не скучно!",
    },
    {
      title: "Мало туристов",
      number: "№5",
      text: "Большинство едет в Гранд Каньон и толпится там",
    },
  ]
