section.video-field
  h2.video-field__title Всё ещё сомневаетесь?
  p.video-field__text Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!
  div.video-field__video
    iframe.video-field__iframe(width="560" height="315" src="https://www.youtube.com/embed/vb5TdSCKuUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
