- const page = "form";

doctype html
html(lang="ru")
  include ../head.pug
  body
    include ../svg.pug
    include ../blocks/page-header.pug
    main
      include ../blocks/page-heading.pug
      include ../blocks/form.pug
    include ../blocks/page-footer.pug
    include ../blocks/popup.pug
    script(src="js/menu-toggle.js")
    script(src="js/popup.js")
