- const page = "index";

doctype html
html
  include ../head.pug
  body
    include ../svg.pug
    include ../blocks/page-header.pug
    main
      include ../blocks/page-heading.pug
      include ../blocks/reasons.pug
      include ../blocks/booking.pug
      include ../blocks/page-footer.pug
  script(src="js/menu-toggle.js")
