- const page = "photo";

doctype html
html
  include ../head.pug
  body
    include ../svg.pug
    include ../blocks/page-header.pug
    main
      include ../blocks/page-heading.pug
      include ../blocks/photos.pug
      include ../blocks/video-field.pug
    include ../blocks/page-footer.pug
  script(src="js/menu-toggle.js")
